.App {
  text-align: center;
  /* Load system fonts */
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
  Roboto, Helvetica Neue, sans-serif;

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;

  background-color: #fbf7f4;
  color: #1f363d;
}

html {
  background-color: #fbf7f4;
}

.App-header {
  color: #1f363d;
 padding-top: 20px;
}

.movieDisplay {
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.card-header {
  background-color: #A4C3B2;
  font-size: 18pt;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
}

.searchBar {
  margin: 20px auto;
  width: 50%;
}

.btn-primary {
  color: #fff;
  background-color: #A4C3B2;
  border-color: #A4C3B2;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #fff;
  background-color: #CCE3DE;
  border-color: #CCE3DE;
}

.btn-primary:disabled {
  background-color: grey;
  border-color: grey;
}